#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  color: rgb(0, 0, 0);
  
}

.navbar-brand {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  margin: 0;
}

